.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 10px;

    h3 {
      margin: 10px 0 0;
    }
  }

  &__item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }
}
